<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:flow="http://www.springframework.org/schema/webflow-config"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

        <!-- 自动扫描controller包下的所有类，使其认为是spring mvc的控制器 路径即为类路径 -->
        <context:component-scan base-package="com"></context:component-scan>


        <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图  根据控制器返回的字符串拼接成jsp路径：/WEB-INF/jsp/xx.jsp -->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
            <property name="prefix" value="/WEB-INF/views/"></property>
            <property name="suffix" value=".jsp"></property>
        </bean>
        
        <bean id="viewMappings" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        	<!-- /shopping.do 请求由 flowController 来处理 -->
        	<property name="mappings">
        		<value>/shopping.do=flowController</value>
        	</property>
        	<property name="defaultHandler">
        		<!-- UrlFilenameViewController 会将 "/index" 这样的请求映射成名为 "index" 的视图 -->
        		<bean class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />
        	</property>
        </bean>
        
        <bean id="flowController" class="org.springframework.webflow.mvc.servlet.FlowController">
	        <property name="flowExecutor" ref="flowExecutor"/>
	    </bean>
    	
</beans>